/* common style  */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/* header styles  */
header{
    width: 1320px;
    height: 600px;
    margin: 50px 140px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    border-radius: 16px;
}
.greetings{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 177px 0 0 0;
}
.greetings-title{
    color: #FFF;
    width: 632px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
    padding: 0 0 177px 340px;
}
/* discount related styles  */
.discount{
    margin: 70px 399px;
    display: inline-block;
}
.off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 48px;
}
.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 16px;
}
.categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 48px;
}
.hny{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}
/* welcome related styles  */
.welcome{
    width: 1320px;
    height: 600px;
    margin: 50px 140px;
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    display: flex;
    border-radius: 16px;
}
.welcome-party{
    color: #FFF;
}
.welcome-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin: 126px 0 0 126px;
}
.welcome-info{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 0 0 0 126px;
    padding: 24px 0 48px;
}
.welcome a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 48px 0 142px 158px;
}
.welcome-pic{
    height: 500px;
    margin: 68px 130px 68px 0;
}

/* party place related style  */
.place{
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 70px 140px;
    border-radius: 16px;
}
.place-info{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 385px 48px 385px;
}
.highlighting-text{
    color: #F00;
}
#btn-join-now{
    padding: 16px 32px;
    border: 0;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 0 577px 110px 576px;
}
/* coming-soon related styles  */
.coming-soon{
    display: flex;
    width: 1320px;
    height: 482px;
    margin: 50px 140px;
    column-gap: 70px;
    
}
.coming-soon-offer{
margin-right: 0;
margin-top: 70px;
}
#nbo{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}
#cs{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 16px 0 24px;
}

.coming-soon-image{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 0;
}
.coming-soon-image img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    padding: 25px;
    border: 15px solid red;
}
.new-year-greetings{
    margin-left: 50px;
    margin-top: 60px;
}
#new-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}